---
layout: base.njk
title: Merci
lang: fr
permalink: /fr/merci/
alt: {"es": "/gracias/", "en": "/en/thanks/"}
---
<section class="section card" style="text-align:center">
  <h1>{{ i18n.fr.ThanksTitle }}</h1>
  <p>Nous répondrons par email.</p>
  <p><a class="btn" href="/fr/">{{ i18n.fr.ThanksBack }}</a></p>
</section>
