---
layout: base.njk
title: Privacy
lang: en
permalink: /en/privacy/
alt: {"es": "/es/privacidad/", "fr": "/fr/confidentialite/"}
---
<article class="section card">
  <h1>Privacy policy</h1>
  <p>We only process the data you send via the contact form to answer your query. We don’t share your data with third parties unless legally required.</p>
</article>
