---
layout: base.njk
title: Privacidad
lang: es
permalink: /privacidad/
alt: {"en": "/en/privacy/", "fr": "/fr/confidentialite/"}
---
<section class="section container">
  <div class="card prose">
    <h1>Política de privacidad</h1>
    <p>Solo tratamos los datos que envías en el formulario de contacto para responder a tu consulta. No cederemos tus datos a terceros salvo obligación legal.</p>
  </div>
</section>