---
layout: base.njk
title: Gallery
lang: en
permalink: /en/gallery/
alt: {"es": "/galeria/", "fr": "/fr/galerie/"}
---
<section class="section container">
  <h1>Gallery</h1>
  <div class="gallery-grid">
    {% for img in gallery %}
      <figure class="g-item">
        <img src="{{ img.src }}" alt="{{ (img.alt and img.alt['en']) or 'Bar photo' }}">
      </figure>
    {% endfor %}
  </div>
</section>
