---
layout: base.njk
title: Gracias
lang: es
permalink: /es/gracias/
alt: {"en": "/en/thanks/", "fr": "/fr/merci/"}
---
<section class="section card" style="text-align:center">
  <h1>{{ i18n.es.ThanksTitle }}</h1>
  <p>Te responderemos por email.</p>
  <p><a class="btn" href="/es/">{{ i18n.es.ThanksBack }}</a></p>
</section>
