---
layout: base.njk
title: Thanks
lang: en
permalink: /en/thanks/
alt: {"es": "/es/gracias/", "fr": "/fr/merci/"}
---
<section class="section card" style="text-align:center">
  <h1>{{ i18n.en.ThanksTitle }}</h1>
  <p>We’ll get back to you by email.</p>
  <p><a class="btn" href="/en/">{{ i18n.en.ThanksBack }}</a></p>
</section>
